@import-normalize; /* bring in normalize.css styles */

:root {
  /* Colors Variables */
  /* Базовий чорний; */
  --mainBlack: #13151a;
  /* Основний білий + текст синьої кнопки + текст темної теми; */
  --mainWhite: #ffffff;
  /* Базовий синій + текст чорної кнопки + колір тексту завдання на світлій темі */
  --mainBlue: #3e85f3;
  /* Базовий блакитний */
  --mainLightblue: #dcebf7;

  /* блакитна кнопка + Колір елементу завдання в календарі */
  --lightblue: #e3f3ff;
  /* блакитна кнопка в ховері */
  --lightblueHover: #cae8ff;
  /* чорний колір цифр в календарі */
  --blackSecond: #343434;
  /* чорний бекграунд */
  --blackBackground: #21222c;
  /* сірий для днів тижня, текст в картках */
  --textGrey: #616161;
  /* Колір тексту в сайдбарі */
  --subtitleGrey: #84828a;
  /* Колір фону карток */
  --cardGrey: #f7f6f9;
  /* Колір фону сірих кнопок, інпутів */
  --elementsGrey: #efefef;
  
  /* Коліри елементів завдання в календарі */
  --cardLightYellow: #fcf0d4;
  --CardLightPink: #ffd2dd;
  /* Колір тексту завдання на світлій темі + ранг Medium */
  --rangYellow: #f3b249;
  --rangPink: #ea3d65;
  /* ранг Low */
  --rangBlue: #72c2f8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
